<!DOCTYPE html>
<html>
<head>
    <title>Message Feed</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="/js/navigation-loader.js"></script>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="/css/main.css">-->
    <!--    <link rel="stylesheet" href="/css/user-page.css">-->

    <script>
    // Fetch messages and add them to the page.

   let LOGIN = false;
   function fetchLoginStatus(){
     fetch('/login-status')
      .then((response) => {
        return response.json();
      })
      .then((loginStatus) => {
        if (loginStatus.isLoggedIn) {
            LOGIN = true;
        } else {
            LOGIN = false;
        }
      });
   }
   function fetchMessages(){
     const url = '/feed';
     fetch(url).then((response) => {
        return response.json();
     }).then((messages) => {
      const messageContainer = document.getElementById('message-container');
      if(messages.length == 0){
       messageContainer.innerHTML = '<p>There are no posts yet.</p>';
      }
      else{
       messageContainer.innerHTML = '';
      }
       messages.forEach((message) => {
       let messageDiv = buildMessageDiv(message);
       messageDiv.id = message.id;
       messageContainer.appendChild(messageDiv);
      });
    });
  }

   function buildMessageDiv(message){
    const headerDiv = document.createElement('div');
    headerDiv.setAttribute("class", "v-card__title")

    const img = document.createElement('div');
    img.setAttribute("class", 'v-img');
    img.classList.add('elevation-6');
    img.setAttribute("src","https://image.flaticon.com/icons/png/512/97/97895.png");

    const avatar = document.createElement('v-list__tile__avatar');
    avatar.setAttribute("color","grey darken-3");
    avatar.appendChild(img);
    const userName = document.createElement('v-list__tile__content');
    userName.innerHTML = message.user;
    headerDiv.appendChild(avatar);
    headerDiv.appendChild(userName);

    const text = document.createElement('div');
    text.setAttribute("class", 'v-card__text');
    text.innerHTML = message.text;

    const icon1 = document.createElement('i');
    icon1.setAttribute("class", "material-icons");
	icon1.setAttribute("aria-hidden", "true");
	icon1.setAttribute("large","true");
    icon1.setAttribute("left","true");
    icon1.innerHTML = "face"
    const content = document.createElement('div');
    content.setAttribute("class", 'v-list__tile__content');

    const title = document.createElement('div');
    title.setAttribute("class", "v-list__tile__title");
    title.appendChild(document.createTextNode(message.skill));
    content.appendChild(title);

    const layout = document.createElement('v-layout');
    layout.setAttribute("align-center","true");
    layout.setAttribute("justify-end","true");

    //create likes button
    const likeButton = document.createElement("div");
    likeButton.setAttribute("class", 'v-btn');
    const icon2 = document.createElement('div');
    icon2.setAttribute("class", "material-icons");
    icon2.setAttribute("style", "color:red");
    const p = new URLSearchParams();
    p.append('message', JSON.stringify(message));
    p.append('action', 'get');
    fetch('/like', {
       method: 'POST',
       body: p,
       }).then(response => response.json())
       .then((liked) => {
            if (liked == "true"){
                icon2.innerHTML = "favorite";
            } else {
                icon2.innerHTML = "favorite_border";
            }
        });
    const likeNum = document.createElement('div');
    likeNum.innerHTML = message.likes;
    likeButton.appendChild(icon2);
    likeButton.appendChild(likeNum);
    likeButton.addEventListener('click', function(){
           if (LOGIN){
               const params = new URLSearchParams();
               params.append('message', JSON.stringify(message));
               params.append('action', 'change');
               fetch('/like', {
                      method: 'POST',
                      body: params
                    }).then(response => response.json())
                    .then((results) => {
                          likeNum.innerHTML = results.likes;
                          if (results.action == 'Remove'){
                            icon2.innerHTML = "favorite_border";
                          } else {
                            icon2.innerHTML = "favorite";
                          }
                          let el = document.getElementById(message.id);
                          const par = new URLSearchParams();
                          par.append('id', message.id);
                          fetch('/feed', {
                               method: 'POST',
                               body: par,
                               }).then(response => response.json())
                               .then((newMessage) => {
                                let newEl = buildMessageDiv(newMessage);
                                newEl.id = message.id;
                                el.parentNode.replaceChild(newEl, el);
                          });
                    });
           } else {
                alert("Please log in to like messages!")
           }
       });


    layout.appendChild(likeButton);
    const bodyDiv = document.createElement('div');
    bodyDiv.setAttribute("class", 'v-card__actions');
    bodyDiv.appendChild(icon1);
    bodyDiv.appendChild(content);
    bodyDiv.appendChild(layout);



    //create translate button
    bodyDiv.classList.add('translate-button');
    const translateButton = document.createElement("input");
    translateButton.type = "button";
    translateButton.value = "Translate";
    translateButton.addEventListener('click', function(){
         if (this.value === "Translate"){
              const language = window.navigator.language;
              const params = new URLSearchParams();
              params.append('text', message.text);
              params.append('languageCode', language);

              fetch('/translate', {
                  method: 'POST',
                  body: params
              }).then(response => response.text())
                .then((translatedMessage) => {
                  text.innerHTML = translatedMessage;
                  this.value = 'See Original';
                 });
           } else {
                text.innerHTML = message.text;
                this.value = 'Translate';
           }
    });
    bodyDiv.appendChild(translateButton);

    const padding = document.createElement('div');
    padding.setAttribute("class",'v-card');
    const messageDiv = document.createElement('div');
    messageDiv.setAttribute("class", 'v-card');
    messageDiv.setAttribute("color","#26c6da");
    messageDiv.setAttribute("light","true");
    messageDiv.setAttribute("max-width","400");
    messageDiv.classList.add('elevation-5');
    messageDiv.appendChild(headerDiv);
    messageDiv.appendChild(text);
    messageDiv.appendChild(bodyDiv);

   return messageDiv;
  }

  // Fetch data and populate the UI of the page.
  function buildUI(){
   fetchLoginStatus();
   fetchMessages();
  }








    </script>
</head>
<body onload="buildUI(); addLoginOrLogoutLinkToNavigation();">
<div id="app">
    <v-app>
        <v-content>
            <v-toolbar light color="white" class="elevation-2" app>
                <v-toolbar-title class="black--text">
                    <v-btn flat large :href="Home">Skill Sync</v-btn>
                </v-toolbar-title>
                <v-layout wrap>
                    <v-flex v-for="i in pages" md2>
                        <v-btn flat small class="grey--text" :href="i.url">{{i.title}}</v-btn>
                    </v-flex>
                </v-layout>
                <v-spacer></v-spacer>
                <v-autocomplete
                        v-model="select"
                        :items="userData"
                        :search-input.sync="search"
                        cache-items
                        class="mx-3"
                        flat
                        hide-no-data
                        hide-details
                        item-text="email"
                        :filter="customFilter"
                        label="Search user by name or email..."
                        solo-inverted
                        @change="redirectPersonalPage()"
                >
                    <template v-slot:selection="data">
                        {{ data.item.name }}
                    </template>
                    <template v-slot:item="data">
                        <template>
                            <v-list-tile-avatar>
                                <img :src="data.item.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </template>
                    </template>
                </v-autocomplete>
            </v-toolbar>

            <div id="content">
                <div class="text-xs-center" id="message-container">
                    <v-progress-circular
                            indeterminate
                            color="red"
                    ></v-progress-circular>
                </div>
            </div>

            <v-footer
                    dark
                    height="auto"
            >
                <v-card
                        class="flex"
                        flat
                >
                    <v-card-title class="justify-center my-2">
                        2019 CodeU Team48

                    </v-card-title>
                </v-card>
            </v-footer>

        </v-content>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    var indexVue = new Vue({
         el: '#app',
         data: () => ({
         Home:'/',
             pages: [
             { title: 'Skill Search',url:'/skill-search.html'},
             { title: 'Public Feed', url: '/feed.html' },
             { title: 'About us',url:'/aboutus.html'}
           ],
           search: null,
           select: null,
           userData: [],
         }),
         methods: {

           customFilter (item, queryText, itemText) {
               const name = item.name.toLowerCase()
               const email = item.email.toLowerCase()
               const searchText = queryText.toLowerCase()

               return name.indexOf(searchText) > -1 ||
                 email.indexOf(searchText) > -1
             },
           redirectPersonalPage(){
               window.location.href = "/user-page.html?user=" + this.select
           },
            contactusbuttonclick(){
                window.location.href = "/aboutus.html";
            }
         },
         mounted(){
       	getUserNameEmail();
         }
       })






</script>
</body>
</html>
