<!DOCTYPE html>
<html>
<head>
    <title>Message Feed</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="/js/navigation-loader.js"></script>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="/css/main.css">-->
<!--    <link rel="stylesheet" href="/css/user-page.css">-->

    <script>
    // Fetch messages and add them to the page.
   function fetchMessages(){
     const url = '/feed';
     fetch(url).then((response) => {
        return response.json();
     }).then((messages) => {
      const messageContainer = document.getElementById('message-container');
      if(messages.length == 0){
       messageContainer.innerHTML = '<p>There are no posts yet.</p>';
      }
      else{
       messageContainer.innerHTML = '';
      }
       messages.forEach((message) => {
       const messageDiv = buildMessageDiv(message);
       messageContainer.appendChild(messageDiv);
      });
    });
  }

   function buildMessageDiv(message){
       const usernameDiv = document.createElement('div');
       usernameDiv.classList.add("left-align");
       usernameDiv.appendChild(document.createTextNode(message.user));

       const timeDiv = document.createElement('div');
       timeDiv.classList.add('right-align');
       timeDiv.appendChild(document.createTextNode(new Date(message.timestamp)));

       const headerDiv = document.createElement('div');
       headerDiv.classList.add('message-header');
       headerDiv.appendChild(usernameDiv);
       headerDiv.appendChild(timeDiv);

       const bodyDiv = document.createElement('div');
       bodyDiv.classList.add('message-body');
       const messageBody = document.createElement('div');
       messageBody.innerHTML = message.text;
       bodyDiv.appendChild(messageBody);

       //create translate button
       bodyDiv.classList.add('translate-button');
       const translateButton = document.createElement("input");
       translateButton.type = "button";
       translateButton.value = "Translate";
       console.log(message.text);
       translateButton.addEventListener('click', function(){
           if (this.value === "Translate"){
                const language = window.navigator.language;
                const params = new URLSearchParams();
                params.append('text', message.text);
                params.append('languageCode', language);

                fetch('/translate', {
                  method: 'POST',
                  body: params
                }).then(response => response.text())
                .then((translatedMessage) => {
                  messageBody.innerHTML = translatedMessage;
                  this.value = 'See Original';
                });
           } else {
                messageBody.innerHTML = message.text;
                this.value = 'Translate';
           }
       });
   bodyDiv.appendChild(translateButton);

   const messageDiv = document.createElement('div');
   messageDiv.classList.add("message-div");
   messageDiv.appendChild(headerDiv);
   messageDiv.appendChild(bodyDiv);

   return messageDiv;
  }

  // Fetch data and populate the UI of the page.
  function buildUI(){
   fetchMessages();
  }


    </script>
</head>
<body onload="buildUI(); addLoginOrLogoutLinkToNavigation();">
<div id="app">
    <v-app>
        <v-content>
            <v-toolbar light color="white" class="elevation-2" app>
                <v-toolbar-title class="black--text">
                    <v-btn flat large :href="Home">Skill Sync</v-btn>
                </v-toolbar-title>
                <v-layout wrap>
                    <v-flex v-for="i in pages" md2>
                        <v-btn flat small class="grey--text" :href="i.url">{{i.title}}</v-btn>
                    </v-flex>
                </v-layout>
                <v-spacer></v-spacer>
                <v-autocomplete
                        v-model="select"
                        :items="userData"
                        :search-input.sync="search"
                        cache-items
                        class="mx-3"
                        flat
                        hide-no-data
                        hide-details
                        item-text="email"
                        :filter="customFilter"
                        label="Search user by name or email..."
                        solo-inverted
                        @change="redirectPersonalPage()"
                >
                    <template v-slot:selection="data">
                        {{ data.item.name }}
                    </template>
                    <template v-slot:item="data">
                        <template>
                            <v-list-tile-avatar>
                                <img :src="data.item.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </template>
                    </template>
                </v-autocomplete>
            </v-toolbar>

            <div id="content">

                <div id="message-container">Loading...</div>
            </div>

            <v-footer
                    dark
                    height="auto"
            >
                <v-card
                        class="flex"
                        flat
                >
                    <v-card-title class="justify-center my-2">
                        2019 CodeU Team48

                    </v-card-title>
                    <v-card-actions class="justify-center">
                        <v-btn flat small round outline color="normal" @click="contactusbuttonclick">
                            Contact Us
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-footer>

        </v-content>
    </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    var indexVue = new Vue({
         el: '#app',
         data: () => ({
         Home:'/',
             pages: [
             { title: 'Skill Search',url:'/skill-search.html'},
             { title: 'Public Feed', url: '/feed.html' }
           ],
           search: null,
           select: null,
           userData: [],
         }),
         methods: {

           customFilter (item, queryText, itemText) {
               const name = item.name.toLowerCase()
               const email = item.email.toLowerCase()
               const searchText = queryText.toLowerCase()

               return name.indexOf(searchText) > -1 ||
                 email.indexOf(searchText) > -1
             },
           redirectPersonalPage(){
               window.location.href = "/user-page.html?user=" + this.select
           },
            contactusbuttonclick(){
                window.location.href = "/aboutus.html";
            }
         },
         mounted(){
       	getUserNameEmail();
         }
       })
</script>
</body>
</html>
