<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <script src="/js/user-info-loader.js"></script>
    <title>Skill Search</title>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-toolbar light class="elevation-0">
                <v-toolbar-side-icon @click="toggleDrawer" light
                ></v-toolbar-side-icon>

                <v-toolbar-title>CodeU 2019 Starter Project</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon>
                    <v-icon>search</v-icon>
                </v-btn>

                <v-btn icon>
                    <v-icon>apps</v-icon>
                </v-btn>

            </v-toolbar>
            <v-navigation-drawer permanent hide-overlay v-show="drawer.open">
                <v-toolbar flat>
                    <v-list>
                        <v-list-tile>
                            <v-list-tile-title class="title">
                                Application
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-divider></v-divider>

                <v-list id="navigation" dense class="pt-0">
                    <v-list-tile
                            v-for="item in items"
                            :key="item.title"
                            :href="item.url"
                    >
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
            <v-container class="mx-8">
                <h1 class=" display-3 font-weight-bold mu-4 mb-4 grey--text text--darken-2">User Info</h1>
                <p class="subheading">fill in the form for adding user data</p>

                <div id="form">
                    <v-form>
                        <v-text-field
                                label="E-mail"
                                required
                                v-model="email"
                        >
                        </v-text-field>
                        <v-textarea
                                label="About me"
                                v-model="aboutme"
                        >
                        </v-textarea>
                        <v-select
                                v-model="learncategory"
                                :items="categories"
                                label="Learning category"
                                required
                        ></v-select>
                        <v-select
                                v-model="sharecategory"
                                :items="categories"
                                label="Sharing category"
                                required
                        ></v-select>
                        <v-select
                                v-model="shareskilllevel"
                                :items="skilllevel"
                                label="Sharing Skill level"
                                required
                        ></v-select>
                        <v-text-field
                                label="School (full name required)"
                                v-model="school"
                        >
                        </v-text-field>
                        <v-select
                                v-model="gender"
                                :items="gend"
                                label="Gender"
                                required
                        ></v-select>
                        <v-text-field
                                label="Age"
                                v-model="age"
                        >
                        </v-text-field>
                        <v-flex class="text-xs-right">
                            <v-btn  @click="submit">submit</v-btn>
                        </v-flex>

                    </v-form>
                </div>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    //for the tool bar
    new Vue({ el: '#app',
     data: () => ({
        items: [
          { title: 'Home', icon: 'dashboard', url: '/' },
          { title: 'My-info', icon: 'edit', url: '/user-info.html' },
          { title: 'Public Feed', icon: 'question_answer', url: '/feed.html' },
          { title: 'Skill Srearch', icon: 'school', url: '/skill-search.html' },
          { title: 'Map', icon: 'place', url: '/map.html' },
          { title: 'Chart', icon: 'bar_chart', url: '/chart.html' },
          { title: 'Community', icon: 'mode_comment', url: '/community.html' },
          { title: 'Status', icon: 'pie_chart', url: '/stats.html' },
          { title: 'Translate', icon: 'translate', url: '/translate.html' }
        ],
        drawer: {
            open : false,
        },
        email:'',
        aboutme:'',
        school:'',
        age:'',
        learncategory: null,
        sharecategory: null,
        shareskilllevel:null,
        gender:null,
        categories: [
        'Photography',
        'Design',
        'Sports',
        'Music',
        'Technology',
        'Language',
        'Culinary'
         ],
        skilllevel: [
        'Junior',
        'Mid-level',
        'Senior',
        'Proficient',
        'Expert'
         ],
         gend: [
        'female',
        'male',
        'rather not say',
         ]
      }),
      methods: {
        toggleDrawer(){
            this.drawer.open = !this.drawer.open
        },
        submit () {
            //console.log(this.email,this.aboutme,this.learncategory);
            newUser = saveTestUser(this.email,this.aboutme,this.learncategory
                                   ,this.sharecategory,this.shareskilllevel,
                                   this.school,this.age,this.gender);
            submitData(newUser);
        }
      }
    })
</script>
</body>
</html>>