<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="UTF-8">
    <script src="/js/navigation-loader.js"></script>
    <script src="/js/user-info-loader.js"></script>
    <script src="/js/navigation-loader.js"></script>
    <title>Skill Search</title>
</head>
<style>
	[v-cloak] {
	  display: none;
	}
</style>
<body onload="addLoginOrLogoutLinkToNavigation();">
<div id="app" v-cloak>
    <v-app>
        <v-content>
            <v-toolbar light color="white" class="elevation-2" app>
                <v-toolbar-title class="black--text">
                    <v-btn flat large :href="Home">Skill Sync</v-btn>
                </v-toolbar-title>
                <v-layout wrap>
                    <v-flex v-for="i in pages" md2>
                        <v-btn flat small class="grey--text" :href="i.url">{{i.title}}</v-btn>
                    </v-flex>
                </v-layout>
                <v-spacer></v-spacer>
                <v-autocomplete
                        v-model="select"
                        :items="userData"
                        :search-input.sync="search"
                        cache-items
                        class="mx-3"
                        flat
                        hide-no-data
                        hide-details
                        item-text="email"
                        :filter="customFilter"
                        label="Search user by name or email..."
                        solo-inverted
                        @change="redirectPersonalPage()"
                >
                    <template v-slot:selection="data">
                        {{ data.item.name }}
                    </template>
                    <template v-slot:item="data">
                        <template>
                            <v-list-tile-avatar>
                                <img :src="data.item.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="data.item.email"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </template>
                    </template>
                </v-autocomplete>
            </v-toolbar>

            <v-container class="mx-8">
                <h1 class=" display-3 font-weight-bold mu-4 mb-4 grey--text text--darken-2">User Info</h1>
                <p class="subheading">fill in the form for adding user data</p>

                <div id="form">
                    <v-form>
                        <v-text-field
                            label="Name"
                            required
                            v-model="name"
                        >
                        </v-text-field>
                        </v-text-field>

                        <v-select
                                v-model="learncategory"
                                :items="categories"
                                label="Learning category"
                                required
                        ></v-select>
                        <v-select
                                v-model="sharecategory"
                                :items="categories"
                                label="Sharing category"
                                required
                        ></v-select>
                        <v-select
                                v-model="shareskilllevel"
                                :items="skilllevel"
                                label="Sharing Skill level"
                                required
                        ></v-select>
                        <v-text-field
                                label="School (full name required)"
                                v-model="school"
                        >
                        </v-text-field>
                        <v-text-field
                                label="Age"
                                v-model="age"
                        >
                        </v-text-field>
                        <v-textarea
                                label="About me"
                                v-model="aboutme"
                        >
                        </v-textarea>

                        <v-flex class="text-xs-right">
                            <v-btn  @click="submit">submit</v-btn>
                        </v-flex>

                    </v-form>
                </div>
            </v-container>

            <v-footer
                    dark
                    height="auto"
            >
                <v-card
                        class="flex"
                        flat
                >
                    <v-card-title class="justify-center my-2">
                        2019 CodeU Team48

                    </v-card-title>
                </v-card>
            </v-footer>

        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js"></script>
<script>
    //for the tool bar
     var indexVue = new Vue({ el: '#app',
     data: () => ({
       Home:'/',
          pages: [
          { title: 'Skill Search',url:'/skill-search.html'},
          { title: 'Public Feed', url: '/feed.html' },
          { title: 'About us',url:'/aboutus.html'}
        ],
         search: null,
        select: null,
        userData: [],
        name: '',
        email:'',
        aboutme:'',
        school:'',
        age:'',
        learncategory: null,
        sharecategory: null,
        shareskilllevel:null,
        categories: [
        'Photography',
        'Design',
        'Sports',
        'Music',
        'Technology',
        'Language',
        'Culinary'
         ],
        skilllevel: [
        'Junior',
        'Mid-level',
        'Senior',
        'Proficient',
        'Expert'
         ],
      }),
      methods: {
        customFilter (item, queryText, itemText) {
            const name = item.name.toLowerCase()
            const email = item.email.toLowerCase()
            const searchText = queryText.toLowerCase()

            return name.indexOf(searchText) > -1 ||
              email.indexOf(searchText) > -1
          },
        redirectPersonalPage(){
            window.location.href = "/user-page.html?user=" + this.select
        },
        submit () {
            newUser = saveUser(this.name,this.email,this.aboutme,this.learncategory
                                   ,this.sharecategory,this.shareskilllevel,
                                   this.school,this.age);
            submitData(newUser);
        },
         contactusbuttonclick(){
            window.location.href = "/aboutus.html";
         }
      },
      mounted(){
       	getUserNameEmail();
         }
    })
</script>
</body>
</html>